@keyframes floating {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-25px);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes rotating2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

@keyframes twinkle {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

@keyframes appear-popup {
    0% {
        transform: translate(-50%, 130%) perspective(500px) rotateX(-40deg);
    }
    40% {
        transform: translate(-50%, 70%) perspective(500px) rotateX(-40deg);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes appear {
    0% {
        bottom: 6.5rem;
        opacity: 0;
    }
    100% {
        bottom: 7.7rem;
        opacity: 1;
    }
}