@font-face {
    font-family: 'Halo Dek';
    src: url('fonts/HaloDek.woff2') format('woff2'),
    url('fonts/HaloDek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTAvocado';
    src: url('fonts/LTAvocado-Bold.woff2') format('woff2'),
    url('fonts/LTAvocado-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.woff2') format('woff2'),
    url('fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.woff2') format('woff2'),
    url('fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('fonts/Comic Sans MS.woff2') format('woff2'),
    url('fonts/Comic Sans MS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --hero-page-title-font: 'Halo Dek', cursive;
    --title-font: 'LTAvocado', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --hero-page-title-font-size: clamp(5rem, 17vw, 15rem);
    --hero-page-detail-title-font-size: clamp(1rem, 2vw, 1.8rem);

    --title-font-size: clamp(2rem, 3.5vw, 3rem);
    --paragraph-font-size: clamp(1rem, 1.6vw, 1.4rem);
}

section h2 {
    width: max-content;
    height: max-content;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

section h3 {
    width: max-content;
    height: max-content;
    font-family: var(--title-font);
    font-size: calc(var(--title-font-size) * 0.75);
}

section p, section a {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    font-weight: bold;
    color: rgb(var(--darker-primary-color));
}

.highlight {
    background-image: linear-gradient(to right, #7A00FF, transparent);
    background-position: bottom;
    background-size: 100% 30%;
    background-repeat: no-repeat;
}