@font-face {
    font-family: 'Halo Dek';
    src: url('fonts/HaloDek.woff2') format('woff2'),
    url('fonts/HaloDek.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LTAvocado';
    src: url('fonts/LTAvocado-Bold.woff2') format('woff2'),
    url('fonts/LTAvocado-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.woff2') format('woff2'),
    url('fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
    --hero-page-title-font: 'Halo Dek', cursive;
    --title-font: 'LTAvocado', sans-serif;
    --paragraph-font: 'Lato', sans-serif;

    --hero-page-title-font-size: 15rem;
    --hero-page-detail-title-font-size: 1.8rem;
}
